<div class="newsfeed">
	{{# if feed.activities }}
		<ul>
			{{# each feed.activities }}
				{{app-activity activity=this }}
			{{/each }}
		</ul>
	{{/if }}
	{{#unless feed.activities }}
		<div class="empty">
			Follow some people to get your feed started
		</div>
	{{/unless}}
</div>