<h2>Follow some people</h2>

{{#unless session.isAuthenticated}}
<div>
	<a {{ action 'login' }}>Login with Github to follow people</a>
</div>
{{/unless}}

{{#with session.isAuthenticated as authenticated}}
	{{# each model }}
	<li>
		{{#link-to 'profile' attributes.username}}{{attributes.name}}{{/link-to}}
		{{#if authenticated}}
			<button {{action 'follow' this}}>
				Follow
			</button>
		{{/if}}
	</li>
	{{/each }}
{{/with}}