<h2>Follow some people</h2>

{{#unless session.isAuthenticated}}
<div>
	<a {{ action 'login' }}>Login with Github to follow people</a>
</div>
{{/unless}}

{{# each model }}
	{{app-user user=this session=session }}
{{/each }}
