{{app-user-header user=model.profile session=session }}

<div class="row">
	<div class="col-md-6 col-md-offset-3 tight">
		<div class="panel feed">
			{{#with model.feed as feed}}
				{{ partial 'feed' }}
			{{/with}}
		</div>
	</div>
</div>