<li>
	{{#link-to 'profile' user.attributes.username}}{{user.attributes.name}}{{/link-to}}
	<img {{ bind-attr src=user.attributes.image._url }} width="64px"/>
	<button {{action 'follow' user}}>
		Follow
	</button>
	{{#if loading }}
		{{ partial 'loading' }}
	{{/if }}
</li>