html, body {
	background-color: #eee;
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: 300;	
	padding-bottom: 200px;
}

.navbar-default {
	background-color: #8CC63E;
	border:none;
	box-shadow:  -3px 0px 15px -3px #777777;	
}
.navbar-default .navbar-nav > li > a {
	color: #FFF !important;
	font-weight: 700;
	text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #FFF !important;
}
.navbar-default .navbar-nav > .active > a {
	background-color: #B9DD7F;
}
.tight {
	padding-right: 0px;
	padding-left: 0px;
}

.panel {
	box-shadow:  -3px 0px 15px -3px #777777;
	border-radius: 0px;
	min-height: 100%;
	padding: 15px;
}
.panel.feed {
	min-height: 1000px;
}
.centered {
	text-align: center;
}
.upper {
	text-transform: uppercase;
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	padding: 25px;
	font-weight: 200;
	border-bottom: solid 1px #8CC63E;
	margin-top: 0px;
}
h2 {
	color: #8CC63E;
}
a {
	color: #8CC63E;
	cursor: pointer;
}
a:hover, a:active {
	color: #8CC63E;	
	opacity: 0.8;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.logo-container {
	padding: 30px;
}
.form-control {
	border: none;
	background-color: #fff;
	border-radius: 0px
}

.btn {
	border: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 100;
	border-radius: 3px;
	line-height: 12px;
}

.btn-primary {
	background-color: #8CC63E;
	color: #fff;
}
.btn-primary:hover, .btn-primary:active {
	background-color: #8CC63E;
	opacity: 0.8;
}
.btn-default {
	background-color: #dddddd;
	color: #000;
}
.btn-default:hover, .btn-default:active {
	background-color: #dddddd;
	opacity: 0.8;
}
.activity-container {
	position: relative;
	padding-left: 50px;
	margin-bottom: 35px;
}
.activity-container .actor {
	position: absolute;
	left: 0;
	top: 0;
	width: 35px;
}
.activity-text {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 3px 0px 5px;
}
.activity-content {
	padding: 15px;
	background-color: #eee;
}
.activity-image {
	width: 100%;
	background-color: #e9e9e9;
}
.activity-time {
	text-align: right;
	font-weight: 100;
	float: right;
	font-size: 10px;
	padding-top: 3px;
}
.activity-actions {
	color: #999;
	font-size: 10px;
	padding-top: 4px;
}
.activity-actions a {
	font-weight: 700;
}

.form-group .btn {
	width: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.blank-slate {
	padding: 30px;
	text-align: center;
}

.walkthrough-container {
	position: fixed;
	bottom: 30px;
	width: 100%;
	z-index: 100;	
}
.walkthrough {
	border-radius: 5px;
	border: 3px solid #8CC63E;
	background-color: #fff;
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	box-shadow: 0px 0px 5px #000000;
}
.wt-header {
	color: #fff;
	background-color: #8CC63E;
	padding: 15px;
}
.wt-header h1 {
	color: #fff;
	padding: 0px;
	margin: 0px;
	font-size: 18px;
}
.wt-header a {
	color: #fff;
	opacity: 0.7;
}
.wt-step {
	padding: 15px;
}
.profile-header {
	text-align: center;
	margin-bottom: 30px;
}
.profile-header img {
	border: 3px solid #fff;
	border-radius: 100px;
	box-shadow:  -3px 0px 15px 0px #777777;
}

.user-list {
	margin-top: 20px;
}
.user-list li {
	padding: 10px 0;
	border-top: 1px solid #ccc;
}
.user-list button {
	margin-top: 16px;
}
.user-list .username {
	display: inline-block;
	padding-left: 10px;
	font-size: 22px;
	margin-top: 16px;
}

.activity-content .user-image {
	width: 80px;
	border: 3px solid #fff;
	border-radius: 100px;
	box-shadow: -3px 0px 15px 0px #777777;
	margin-top: 5px;
}
.new-notice {
	background-color: #F29B00;
	color: #fff;
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
}
.loading {
	text-align: center;
}
.loading img {
	width: 24px;
	height: 24px;
}
#preember {
	text-align: center;
	padding: 100px;
}
#preember img {
	width: 24px;
	height: 24px;
}
